
<div class="upperHeader">
  <nav>
    <div id="headerButtons">
      <ul>
        <li>{{#link-to 'home'}}Denise McCoy{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'projects'}}Portfolio{{/link-to}}</li>
        <li> {{#link-to 'resume'}}Resume{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact Me{{/link-to}}</li>
      </ul>
    </div>
  </nav>
</div>



{{outlet}}
